.backgroundStyle {
    background-image: url('/assets/background.png');
    background-size: cover;
    background-position: center;
  }
  
  .backgroundContainerStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .boardStyle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .boardContainerStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  