/*
    Cada frame do dinossauro é 60px, definido em .dino
    Cada passo possui 60px, multiplique pelo número de imagens que necessita
    DEFINIR O DINO PRO TAMANHO DE CADA QUADRADO
*/

/*.dino {
    //Tamanho do dino eh
    width: 60px;
    height: 60px;
    //Posicoes do dino no grid
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    //Animacoes
    background-repeat: no-repeat;
    background-size: cover;
    //animation: dino-animation-moviment 1s steps(4) infinite;
    animation: dino-animation-stand-by 1s steps(3) infinite;
    //animation: dino-animation-hurt 1s steps(3) infinite;

    //Imagem para usar, descobrir forma de usar as outras tambem
    //background-image: url("../public/assets/dinos/sheets/DinoSprites_doux.png");
}*/

.dino {
    width: var(--dino-size);
    position: absolute;
    overflow: hidden;
    background: url("/assets/dinos/sheets/vita.png");
    background-size: 100%;
}

.dino_spritesheet {
    position: absolute;
    background: url("/assets/dinos/sheets/vita.png");
    background-size: 100%;
    height: var(--dino-size);
    width: calc(var(--dino-size)*24);
}

    
@keyframes dino-animation-moviment{
    from{
        background-position-x: calc(var(var(--dino-size)* -4));
    }

    to {
        background-position-x: calc(var(var(--dino-size)* -8));
    }
}

@keyframes dino-animation-stand-by{
    from{
        background-position-x: 0px;
    }

    to {
        background-position-x: calc(var(var(--dino-size)* -3));
    }
}

@keyframes dino-animation-hurt{
    from{
        background-position-x: calc(var(var(--dino-size)* -14));
    }

    to {
        background-position-x: calc(var(var(--dino-size)* -17));
    }
}

