.footer {
    display: flex;
    justify-content: center;
    background-color: grey;
    padding: 2px;
    align-items: center;
}

.footer a {
    font-size: 1.7vh;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}