:root {
  --pixel-size: 2px;
  --grid-cell: calc(var(--pixel-size)*16);
  --board-width: calc(var(--grid-cell)*15);
  --board-height: calc(var(--grid-cell)*13);
  --dino-size: 80px;
}

@media (min-width: 1200px){
  :root {
    --pixel-size: 3px;
  }
}

@media (min-width: 1800px){
  :root {
    --pixel-size: 4px;
  }
}

.pixel-art {
  image-rendering: pixelated;
}

html,
body {
  height: 100vh;
  background-color: #3f7e67;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

*{
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

/*Animacao do dinossauro*/

@keyframes dino-animation-moviment{
    from{
        background-position-x: calc(var(--dino-size)* -4);
    }

    to {
        background-position-x: calc(var(--dino-size)* -8);
    }
}

@keyframes dino-animation-stand-by{
    from{
        background-position-x: 0px;
    }

    to {
        background-position-x: calc(var(--dino-size)* -3);
    }
}

@keyframes dino-animation-hurt{
    from{
        background-position-x: calc(var(--dino-size)* -14);
    }

    to {
        background-position-x: calc(var(--dino-size)* -17);
    }
}

